/**
 * Styles for all block appenders used in Spectra.
 */

// This rule should be excluded, as all the @ rules used here are known in SASS.
// stylelint-disable at-rule-no-unknown

// Common variables used in the block appenders.
$spectra-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
$full-width-color: #757575;
$full-width-color-hover: $spectra-color;
$full-width-border: 1.5px dashed $full-width-color;
$full-width-border-hover: 1.5px dashed $spectra-color;

@mixin button-override {
	// Default CSS for this block.
	cursor: pointer;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	// Styles to reset for buttons on most themes.
	background-color: transparent;
	color: inherit;
	outline: 0;
	border-width: 0;
	border-radius: 0;
	box-shadow: none;
	text-transform: initial;
	text-decoration: none;
	// Additional styles to reset, mainly for Core themes - but good for all.
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	line-height: normal;
}


// Ensure that when this CSS is needed, it loads at a higher specificity.
.editor-styles-wrapper .block-editor-block-list__block .block-list-appender:is( .wp-block ) {

	// Overriding any theme based CSS for the block inserter.
	&:has( .spectra-editor__block-appender--full-width ) {
		width: 100%;
		height: 100%;
		min-block-size: inherit;
		display: flex;
		align-items: stretch;
		justify-content: stretch;

		& > .block-editor-inserter {
			flex: 1;
		}
	}

	// Adding CSS to the block inserter button.
	button {

		// The Spectra editor CSS Block.
		&.spectra-editor {
			// The block appender CSS Element.
			&__block-appender {

				@include button-override();

				// The full width CSS Modifier.
				&--full-width {
					width: 100%;
					height: 100%;
					padding: 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $full-width-color;
					border: $full-width-border;
					border-radius: 4px;
					transition: all 200ms;

					&:hover {
						color: $full-width-color-hover;
						border: $full-width-border-hover;
					}
				}
			}
		}
	}
}
