// Styles for the Icon Picker component.

// Common variables used.
$color-accent: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
$color-dark: #1e1e1e;
$color-medium: #7e7e7e;
$color-light: #ddd;
$popup-color-border: #e6e7e9;

// The icon picker control.
.spectra-icon-picker {
	width: 100%;
	aspect-ratio: 16/9;
	overflow: hidden;
	position: relative;
	padding: 3px;
	border: 1px solid $color-light;
	border-radius: 2px;
	transition: border-color 100ms;

	// Hover effects for the entire control.
	&:hover {
		border-color: $color-dark;

		.spectra-icon-picker__button--select {
			transform: translateY(0);
		}

		.spectra-icon-picker__control--value {
			color: $color-accent;
		}
	}

	// Stylings for buttons.
	button {

		// Styling for the remove button.
		&.spectra-icon-picker__button--remove {
			position: absolute;
			top: 3px;
			right: 3px;
			width: 20px;
			height: 20px;
			background: transparent;
			color: $color-dark;
			border: none;
			box-shadow: none;
			outline: none;
			cursor: pointer;
			transition-duration: 100ms;
			transition-property: color, background-color;

			&:hover,
			&:focus,
			&:focus-visible {
				background: $color-dark;
				color: #fff;
				border: none;
				box-shadow: none;
				outline: none;
			}

			svg {
				fill: currentColor;
				max-width: 100%;
				max-height: 100%;
			}
		}


		// Styling for the remove button.
		&.spectra-icon-picker__button--select {
			position: absolute;
			bottom: 3px;
			left: 3px;
			width: calc(100% - 6px);
			height: 2em;
			transform: translateY(calc(100% + 3px));
			background: $color-dark;
			color: #fff;
			border: none;
			box-shadow: none;
			outline: none;
			cursor: pointer;
			transition: transform 100ms;

			&:hover,
			&:focus,
			&:focus-visible {
				transform: translateY(0);
				background: $color-dark;
				color: #fff;
				border: none;
				box-shadow: none;
				outline: none;
			}

			svg {
				fill: currentColor;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	// The control area.
	&__control {
		width: 100%;
		height: 100%;
		cursor: pointer;

		&--value {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-medium;
			transition: color 100ms;

			svg {
				max-width: 32px;
				max-height: 32px;
			}
		}

		&--empty {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-light;

			svg {
				fill: currentColor;
				max-width: 32px;
				max-height: 32px;
			}
		}
	}
}


// Styles for the modal popup overlay
.components-modal__screen-overlay.uagb-ip-modal-wrapper-overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

// Styles for the modal popup frame.
.components-modal__frame.uagb-ip-modal-wrapper {
	width: 1080px;
	height: 796px;
	max-height: 80%;
	max-width: 80%;
	// max-width: 90%;
	overflow: unset;
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	.components-modal__content {
		padding: 30px 24px;
		margin: 0;
		background-color: #fff;
		overflow: unset;
		border-radius: 2px;

		> div:not(.components-modal__header) {
			height: 100%;
		}

		.components-modal__header {
			height: 0;

			.components-modal__header-heading-container {
				display: none !important;
			}

			.components-button {
				color: #aaa;
				position: absolute;
				width: 12px;
				height: 12px;
				top: 4px;
				right: -32px;
				transition: 0.2s color linear;
				left: auto;

				&:hover {
					color: #fff;
				}
			}
		}

		.uagb-ip-header {
			display: flex;
			align-items: baseline;
			height: 64px;

			> h2 {
				width: 156px;
				margin: 0;
				font-size: 20px;
				font-weight: 400;
				color: #1e1e1e;
			}
		}

		.uagb-ip-footer {
			height: 68px;
			text-align: right;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;

			> button {
				font-size: 13px;
				color: #fff;
				border: none;
				background-color: $color-accent;
				border-radius: 2px;
				width: 89px;
				height: 36px;
				cursor: pointer;

				&.disable {
					opacity: 0.7;
					cursor: not-allowed;
				}
			}
		}
	}

	.uagb-ip-lr-container {
		display: flex;
		// Height 100% - height of footer and header
		height: calc(100% - 134px);
		grid-gap: 24px;

		.uagb-ip-left {
			width: 156px;
			overflow: auto;
		}

		.uagb-ip-right {
			flex: 1;
			padding: 14px;
			padding-right: 0;
			border: 1px solid #e6e7e9;
			border-radius: 2px;

			.uagb-ip-modal-container {
				height: 100%;

				.ReactVirtualized__Grid__innerScrollContainer {

					> div {
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}

	.uagb-ip-categories-list {

		> div {
			padding: 9px 10px;
			cursor: pointer;
			border-radius: 2px;
			color: #1d2327;
			display: flex;
			justify-content: space-between;
			font-size: 13px;

			&.selected {
				background-color: #dcf2ff;
				color: #0063a1;
			}
		}
	}

	// Search bar.
	.uagb-ip-search-container {
		flex: 1;
		padding-left: 24px;

		.uagb-ip-search-bar {
			position: relative;

			> svg,
			> span {
				width: 14px;
				height: 14px;
				position: absolute;
				top: calc(18px - 7px);
				color: #555d66;
				fill: #555d66;
				transform: rotateZ(90deg);
				left: 12px;
			}

			> span {
				width: unset;
				cursor: pointer;
			}
			// Input padding left = left input padding * 2 both input and icon padding + width of icon
			input {
				height: 36px;
				width: 100%;
				padding: 7px 12px 7px calc(12px * 2 + 14px);
				border: 1px solid #e6e7e9;
				margin: 0;
				border-radius: 2px;
				color: #1d2327;

				&::placeholder {
					color: #50575e;
				}

				&:focus {
					border: 1.5px solid $color-accent;
				}
			}
		}
	}
	// Icons container
	.uagb-ip-icons {

		.ReactVirtualized__Grid__innerScrollContainer {
			overflow-x: hidden !important;
			max-width: inherit !important;
		}

		&.icon-not-found {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.uagb-icon-item {
			width: 80px;
			height: 80px;
			background-color: #fff;
			border: 1px solid #e6e7e9;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 0.2s transform ease;
			flex-direction: column;
			grid-gap: 6px;
			max-width: 90%;
			max-height: 90%;

			&.default {
				border-color: $color-accent;
				box-shadow: 0 0 0 2px $color-accent;
				pointer-events: none;
			}

			&.selected {
				border-color: $color-accent;
				box-shadow: 0 0 0 2px #dcf2ff;
				pointer-events: none;
			}

			> svg {
				width: 20.9px;
				height: 20.27px;
			}

			> span {
				font-size: 11px;
				text-align: center;
			}

			&:hover {
				border-color: #e6e7e9;
				box-shadow: 0 0 0 4px #f0f0f1;
			}
		}
	}
}
