// Styles for the Variation Picker component.

// Defaults for the variation picker.
$variation-picker-border: 1px dashed #c8d0d7;
$heading-color: #1d2327;
$body-color: #50575e;
$variation-icon-color: #d5dadf;
$variation-icon-color-hover: #bcc0c4;
$primary-color: #1e1e1e;
$secondary-color: #5733ff4d;

// The variation picker selector.
.spectra-variation-picker {

	// The close element in the variation picker.
	&--close {
		font-size: 35px;
		background: none;
		color: #d5dadf;
		cursor: pointer;
		border: none;
		box-shadow: none;
		display: flex;
		align-self: flex-end;
		position: absolute;
		top: 3px;
		z-index: 999999;
		outline: none;
	}

	// The small icon variation.
	&--small-icons {

		&.spectra-variation-picker .block-editor-block-variation-picker__variations > li {
			max-width: 120px;
		}

	}

	// The big icon variation.
	&--big-icons {

		&.spectra-variation-picker .block-editor-block-variation-picker__variations > li {
			max-width: 160px;
		}

	}

	// The Core provided block variation picker.
	.block-editor-block-variation-picker__variations {
		width: 75%;
		justify-content: center;
		gap: 0;

		// Buttons in the variation picker.
		.components-button,
		.components-button.is-secondary,
		.components-button.is-tertiary,
		.components-button:hover:not( :disabled ) {
			box-shadow: none;
			outline: none;
			color: $variation-icon-color !important; // WP CSS using important, to override it we need to use the same.
			padding: 0;
			margin-bottom: 0;

			// Icons in the variation picker.
			svg {
				width: 100px;
				height: 50px;
				fill: $variation-icon-color !important; // WP CSS using important, to override it we need to use the same.
			}
		}

		// The SVG for all buttons that aren't disabled.
		.components-button:hover:not( :disabled ) svg {
			color: $variation-icon-color-hover !important; // WP CSS using important, to override it we need to use the same.
		}

		// Styles for the items in the variation picker.
		> li {
			margin: 20px 16px 0 0;
			flex-basis: content;
			max-width: 140px;
		}
	}

	// The skip text in the variation picker.
	.block-editor-block-variation-picker__skip  .components-button {
		color: $primary-color;
	}

	// The placeholder text in the varation picker.
	.components-placeholder {
		align-items: center;
		border: $variation-picker-border;
		border-radius: 4px;
		box-shadow: none;
		gap: 0;

		// Styles for the placeholder label
		&.is-large .components-placeholder__label,
		.components-placeholder__label {
			font-size: 24px;
			font-weight: 400;
			line-height: 29px;
			margin-bottom: 4px;
			color: $heading-color;

			// SVGs in the placeholder - mostly the block icon.
			svg {
				margin-right: 12px;
				color: $primary-color;
			}
		}
	}

	// Updating the styles of the button to ensure that it does not stick to a small size.
	.block-editor-block-variation-picker__variation {
		height: auto;

		// Removing the padding in the before pseudo-element.
		&::before {
			padding-bottom: 0;
		}
	}

	// Updated the fieldset items.
	.components-placeholder__fieldset {
		align-items: center;
		text-align: center;
		flex-direction: column;
		max-width: 90%;

		// Styling the instructions.
		.components-placeholder__instructions {
			font-size: 13px;
			line-height: 20px;
			color: $body-color;
			width: 100%;
		}
	}
}
