// Common editor styles.
$block-icon-color: #1e1e1e;
$block-highlight-color: #fff;
// Variables.
$brand-blue: #20679e;
$hover-blue: #164a73;
$bg-light: #f4f4f4;
$text-dark: #333;

// Extension styles.
@import "extensions/z-index";

svg {
	// Colored block icons.
	&.spectra-block-icon--colored {
		color: $block-icon-color;
	}
	// Category icons.
	&.spectra-category-icon,
	&.spectra-pro-category-icon {
		width: 18px;
		height: 18px;
	}
}

// Colored block icons should be white when the block is selected in the list view.
.block-editor-list-view-leaf.is-selected .block-editor-list-view-block-contents svg.spectra-block-icon--colored {
	color: $block-highlight-color;
}

// Colored block icons should be white when toggle is set to select from tools.
.block-editor-block-list__block-selection-button,
.is-selected {
	.block-editor-block-icon.has-colors svg.spectra-block-icon--colored {
		color: $block-highlight-color;
	}
}

// Colored block icons turn to secondary color when they are a parent block.
.block-editor-block-parent-selector .block-editor-block-icon svg.spectra-block-icon--colored {
	color: initial;
}

// Frontend z-index styles (also needed in editor for preview)
.has-z-index {
	position: relative;
	z-index: var(--spectra-z-index, auto);
}

.block-editor-list-view-leaf:not(.is-selected) .block-editor-list-view-block-select-button:hover path,
.block-editor-list-view-leaf:not(.is-selected) .block-editor-list-view-block-select-button:hover rect,
.block-editor-list-view-leaf:not(.is-selected) .block-editor-list-view-block-select-button:hover circle {
	color: #2271b1;
}

.components-button.block-editor-block-types-list__item:not(:disabled,[aria-disabled="true"]):hover svg.spectra-block-icon--colored path:last-child {
	fill: #fff;
}

.components-button:hover:not(:disabled,[aria-disabled="true"], .is-active, .is-selected ) .spectra-block-icon--colored path,
.components-button:hover:not(:disabled,[aria-disabled="true"], .is-active, .is-selected ) .spectra-block-icon--colored rect,
.components-button:hover:not(:disabled,[aria-disabled="true"], .is-active, .is-selected ) .spectra-block-icon--colored circle {
	color: var(--wp-admin-theme-color) !important;
}

.components-dropdown-menu__menu-item.is-active .spectra-block-icon--colored path:last-child,
.components-autocomplete__popover .components-popover__content .is-selected .spectra-block-icon--colored path:last-child {
	fill: #2271b1;
}

.is-selected .block-editor-list-view-block-select-button .spectra-block-icon--colored path:last-child {
	fill: #2271b1;
}

.components-accessible-toolbar .components-button.is-pressed .spectra-block-icon--colored path:last-child,
.components-toolbar .components-button.is-pressed .spectra-block-icon--colored path:last-child {
	fill: #000;
}

// Default state
.edit-site-block-types-item-list button[id^="/blocks/spectra"]:not([id="/blocks/spectra-pro%2Fform-recaptcha"]).css-1cyk0hg {
	path {
		&:nth-last-child(2) {
			fill: #000 !important;
		}

		&:nth-last-child(1) {
			fill: #fff;
		}
	}
}

// Hover state
.edit-site-block-types-item-list button[id^="/blocks/spectra"].css-1cyk0hg:hover {
	path {
		color: #2271b1 !important;

		&:nth-last-child(2) {
			fill: #2271b1 !important;
		}
	}
}

// Video Popup Guide footer.
.spectra-video-popup-guide {
	.components-guide__footer {
		display: none;
	}

	.components-modal__header {
		box-shadow: unset;
	}
}

// Component
.spectra-help-box {
	background-color: $bg-light;
	padding: 12px 16px;
	border-radius: 6px;
	margin-bottom: 16px;

	.spectra-help-title {
		margin: 0 0 8px 0;
		color: $text-dark;
	}

	.spectra-video-link {
		display: flex;
		align-items: center;
		gap: 2px;
		text-decoration: underline;
		text-decoration-color: $brand-blue;
		color: $brand-blue;
		transition: color 0.2s ease;

		&:hover {
			color: $hover-blue;
		}

		button.components-button {
			padding: 0 0 6px 2px;
			height: 0;
			color: $brand-blue;

			&:focus:not(:disabled):focus {
				box-shadow: unset;
			}
		}

		.spectra-play-icon {
			width: 16px;
			height: 16px;

			rect {
				fill: $brand-blue;
			}
		}
	}
}
